/* Global Styles */
html {
  color-scheme: light dark;
}
.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

.color-scheme select {
  font: inherit;
}
body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}
/* Navigation Bar */
nav {
  display: flex;
  margin-bottom: 0.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}
nav a.current {
  border-bottom-width: 0.4em;
  border-bottom-color: var(--border-color);
  border-bottom-style: solid;
  font-weight: bold;
}
:root {
  --color-accent: oklch(65% 0.5 0);
}
html {
  accent-color: var(--color-accent);
}
a:hover {
  border-bottom-width: 0.4em;
  border-bottom-color: var(--color-accent);
  border-bottom-style: solid;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}
/* Contact Page*/
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em 1em;
}
label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}
/* Projects Page */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}
.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
h2 {
  margin: 0;
}
h1 {
  font-size: 400%;
}
h1, h2, h3, h4, h5, h6{
  line-height: 1.1;
  text-wrap: balance;
}
#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}
.container {
  display: flex;
}
.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  flex: 1;
  border: 1px solid #ccc;
  padding: 12px 16px;
  border-radius: 8px;
  margin-left: 20px; 
  width: fit-content;
}
.legend-item {
  display: flex;
  align-items: center;
}
.swatch {
  display: inline-block;
  width: 12px;
  height: 12px;              
  background-color: var(--color);
  border-radius: 4px;       
  margin-right: 6px;
}
.label {
  margin-right: 6px;
}
.searchBar {
  width: 100%;
  padding: 0.75rem 2.5rem 0.75rem 1rem; /* extra right padding for the × button */
  font-size: 1rem;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 25px;
}

/* Resume Page */
.experience article{
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.2em 1em;
}
.experience p:first-of-type{
    color: gray;    
}
.education article {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.2em 1em;
}

.education article h3 {
  grid-column: 1;         
}

.education article p:first-of-type {
  grid-column: 1 / -1; 
  font-style: italic;  
}

.education article p:nth-of-type(2) {
  grid-row: 1;             
  grid-column: 2;        
  text-align: right;
  white-space: nowrap;
  color: gray;
}

dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem 1rem;
}

dt {
  grid-row: 1; 
  color: gray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

dd {
  grid-row: 2; 
  margin: 0;
  font-size: 25px;
}
.projects img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}